html { width: 100%; height: 100% }
body { width: 100%; height: 100%; margin: 0; padding: 0;font-family: 'microsoft yahei', sans-serif; color: #666; background-color: #fff }
h1, h2, h3, h4, h5, h6 { margin: 0 0 30px; font-family: 'microsoft yahei', sans-serif; font-weight: 700; letter-spacing: 1px }
p { margin: 0 0 20px; font-size: 16px; line-height: 1.6em }
a { color: #ddd; -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; transition: all .2s ease-in-out; text-decoration: none }
a:hover, a:focus { text-decoration: none; color: #9b17ef; }
.intro { position: fixed;left: 0;top: 0;width: 100%;height: 100%; }
.intro .slogan { padding: 100px 0 60px; text-align: center }
.intro .slogan h1 { color: #fff; margin-bottom: 20px; }
.intro .slogan h4 { margin-bottom: 10px; }
#canvas {
    position: absolute;
    top: 0;
    left: 0;
}
#love-days {
    color: #5679df;
    font-size: 80px;
}
#my-words {
    color: #a604f9;
    font-size: 20px;
    padding: 0 20px;
    line-height: 36px;
}
.love-days {
    color: #dc8b0f;
    font-size: 30px;
    font-family: 'Times New Roman','Microsoft YaHei','sans-serif'; 
}
.forever-words {
    color: #aaa;
    font-size: 14px;
}
.ween-box {
    width: 90%;
    height: auto;
    min-height: 60px;
    margin: 60px auto 0;
    border-radius: 20px;
}

#ween-ctnt-en {
    font-size: 16px;
    text-align: left;
    padding: 10px;
    color: #150788;
    line-height: 22px;
    margin-bottom: 0;
    font-family: 'Times New Roman','Microsoft YaHei','sans-serif'; 
}

@media(min-width:767px) {
	.intro .slogan { padding: 120px 0 60px; }
    #my-words { font-size: 30px; }
    #love-days { font-size: 120px; }
    .love-days { font-size: 40px; }
    .forever-words { font-size: 18px; }
}
@media(max-width:480px) {
	.intro .slogan { padding: 80px 0 60px; }
}

#we-are {
    background: url('https://raw.githubusercontent.com/papaqiong/papaqiong.github.io/master/img/we.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}
