html { width: 100%; height: 100% }
body { width: 100%; height: 100%; margin: 0; padding: 0;font-family: 'microsoft yahei', sans-serif; color: #666; background-color: #fff }
h1, h2, h3, h4, h5, h6 { margin: 0 0 30px; text-transform: uppercase; font-family: Montserrat, sans-serif; font-weight: 700; letter-spacing: 1px }
p { margin: 0 0 20px; font-size: 16px; line-height: 1.6em }
a { color: #046556; -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; transition: all .2s ease-in-out; text-decoration: none }
.intro a { color: #03fbd3; }
a:hover, a:focus { text-decoration: none; color: #9b17ef; }
.intro { position: fixed;left: 0;top: 0;width: 100%;height: 100%; /* background-image: url(../img/my-bg.jpg); background-size: cover; */ }
.intro .slogan { padding: 250px 0 60px; text-align: center }
.intro .slogan h1 { color: #fff; line-height: 1.1em; margin-bottom: 20px; font-size: 40px }
.intro .slogan p { color: #eee; margin-bottom: 50px; font-size: 20px }
#canvas {
    position: absolute;
    top: 0;
    left: 0;
}
@media(min-width:767px) {
	.intro { height: 100%; padding: 0; }
}
@media(max-width:768px) {
	.info-box { margin-bottom: 30px; }
	.intro .slogan { padding: 100px 0 60px; }
}
@media(max-width:480px) {
	.intro .slogan { padding: 170px 0 60px; }
}